* {
  margin: 0;
  box-sizing: border-box;
 
  font-family: "Poppins", sans-serif;
  font-weight: 500;

}

:root {
  --primary-blue: #007BFF;
  --secondary-blue: #0056b3;
  --light-grey: #f8f9fa;
  --medium-grey: #6c757d;
  --dark-grey: #343a40;
  --accent-red: #dc3545;
  --white: #ffffff;
}


body {
  color: white;
}
input {
  max-width: 400px;
  border-radius: 14px;
}
button {
  height: 30px;
  width: 150px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  border-radius: 14px;
}

nav {
  height: 10vh;
  width: 100vw;
  background-color: var(--dark-grey);
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.social-link{
  text-decoration: none;
  color: black;
}

#about-page {
  min-height: 100vh;
  width: 100vw;
  padding-top: 50px;
  background-color: var(--medium-grey);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  flex-wrap: wrap;
}

#about-img {
  height: 20em;
  width: 90%;
  max-width: 350px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

#bio-container {
  width: 70vw;
  display: flex;
  align-items: center;
  gap: 20%;
  height: 100%;
  background-color: var(--dark-grey);
  border-radius: 14px;
  padding: 14px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  font-size: 100%;
}

#bio {
  height: 100%;
  width: 50%;
  border-radius: 14px;
  line-height: 1.8;

}

#skills-list {
  height: 75px;
  width: 70vw;
  background-color: var(--dark-grey);
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 14px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

#experience-container {
  height: 100%;
  border-radius: 14px;
  width: 70vw;
  background-color: var(--dark-grey);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  padding: 14px; 
  gap: 20px;
  display: flex;
  flex-direction: column;
}

#experience-container > ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#portfolio-page{
  background-color: #6c757d;
  width: 100vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 25px;
}

#portfolio-page > h1 {
  font-size: 3em;
}

#project-img{
  height: 400px;
  width: 800px;
  object-fit:contain;
  border-radius: 14px;
}

#project-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 70%;
  align-items: center;
  gap: 15px;
  margin-top: 100px;
  border: 2px solid black;
  background-color: var(--dark-grey);
  border-radius: 14px;
  padding: 25px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.project-links {
  text-decoration: none;
  color: white;
  border: 1px solid white;
  padding: 10px;
  border-radius: 14px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

#project-container > h2 {
  font-size: 2em;
}

#contact-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: var(--medium-grey);
}

#contact-form {
  margin: 25px;
  height: 70%;
  width: 40vw;
  border: 1px solid grey;
  border-radius: 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: var(--dark-grey);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

#contact-form > input {
  width: 50%;
}
#contact-form > p {
  width: 50%;
}

.linkedIn-img > img {
  height:100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.linkedIn-img{
  background-color: white;
  height: 60px;
  width: 60px;
  border-radius: 30%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

#contact-form > input, textarea {
  border-radius: 8px;
}

textarea {
  width: 50%;
}

@media (min-width: 450px){

}
/* body {
  font-family: Arial, sans-serif;
  color: var(--medium-grey);
  background-color: var(--light-grey);
}

.navbar {
  background-color: var(--dark-grey);
  color: var(--white);
}

.navbar a {
  color: var(--white);
  text-decoration: none;
}

.navbar a:hover {
  color: var(--primary-blue);
}

.header {
  background-color: var(--dark-grey);
  color: var(--white);
  padding: 1rem;
}

.main-content {
  padding: 2rem;
}

.card {
  background-color: var(--white);
  border: 1px solid var(--medium-grey);
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card-header {
  background-color: var(--primary-blue);
  color: var(--white);
  padding: 1rem;
}

.card-body {
  padding: 1rem;
}

.skill-list {
  list-style: none;
  padding: 0;
}

.skill-list li {
  background-color: var(--secondary-blue);
  color: var(--white);
  padding: 0.5rem 1rem;
  margin: 0.5rem 0;
  border-radius: 5px;
} */